


@media only screen and (max-width : 1080px) {
    h2 {font-size: 1.9em;}
    h3{font-size: 1.5em}
    h4{font-size: 1.1em;}
    #Title{height: 540px;}
    #about{background-size: 500% auto; position: absolute;}
    #shop{background-size: 500% auto; position: absolute;}
    #mymap{display: none;}
    #mymap2{display: block; padding-top: 400px; margin-left: 15%; padding-bottom: 10%}

    #Title{max-height: 660px;}    
    #clients img{height: 50px;}
    .input{  font-size: max(18px, 2em);
        padding: 0.2em 0.4em;}
    .navbar-header {float: none;}
    .navbar-left,.navbar-right {float: none !important;}
    .navbar-toggle {display: block;}
    .navbar-collapse.collapse {display:none !important; box-shadow: inset 0 0 0 rgba(0,0,0,0);}
    .navbar-contain{float: right;}
	.navbar-nav>li {
        float: none;
        overflow: hidden;
        font-size: 1.4em;
        padding: 10px;
    }
    hr.separetor2 {display: none!important;}
    .navbar-collapse.collapse.in {display:block !important;  border-color: rgba(0, 0, 0, 0);}
    .navbar-collapse.collapsing {box-shadow: inset 0 0 0 rgba(0,0,0,0);}
    .topnav{width:100%;
        min-height: 110px;
        height: auto;
        background-color:rgb(27, 26, 26);
        border-color: rgba(0, 0, 0, 0);}
    .send{padding-top:100px; padding-left:200px;padding-right:40px;}
    .col-md-8 {position: absolute;}
    .col-md-4 {position: absolute; margin-left: 40%}
    #TelephoneSend2{width: 42px; height: 42px;}
    .navbar-default .navbar-nav > li {
        padding: 5px;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 5px;
        font-size: 0.7em;
    }
}


@media only screen and (max-width : 640px) {
    .input{  font-size: 12px;}
    #contacts{height: 220px;}  
    .TextTest{font-size: 1.4em;}
    .navbar-default .navbar-nav{
        margin: 0px;
    }
    
    .navbar-default .navbar-nav > li {
        padding: 2px;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 2px;
        font-size: 0.5em;
    }
    
}

@media only screen and (max-width : 480px) {
    .topnav{width:100%;
        margin-left: auto;
        min-height: 110px;
        height: auto;
        background-color:rgb(27, 26, 26)}
    #Title{height: 320px;}
    #contacts{height: 620px;
    padding-bottom: 1200px;}      
    .navbar-default .navbar-brand {display: block; border-color: rgba(0, 0, 0, 0);}
    .footersocial li{font-size: 1.5em}
    .send{padding-top:310px; padding-left:0px;padding-right:110px;}
}

@media only screen and (max-width : 320px) {
    #Title{height: 280px;}
    .Titlecontent{padding-top: 100px; padding-bottom: 30px;}

}


