body {
    font-family: 'Times New Roman', Serif;
    line-height: 1.8em;
    overflow-y: scroll;
    background: #2b2a2a;
    background-size: auto;
    background-position: center;
}
body::-webkit-scrollbar {
  display: none;
}
textarea {
  resize: none;
}
.modal-content
{
  background: #3f3e3d;
}
.modal-content label {color: #dd8d16};

.bigicon {font-size: 3em;}
h2{font-size: 42px;}
h3{font-size: 28px;}
h4{font-size: 18px; line-height: 1.4em;}

.TextTest{
  font-size: 18px; line-height: 1.4em; 
}
.send{
  padding-top: 60px; position: absolute;
}
.TextTest2{
  margin-left: 11px; font-size: 18px; line-height: 1.4em; color: #dd8d16;
}

.iconify2{margin-left: -22px; color: #dd8d16}
.iconify3{margin-left: 11px; color: #dd8d16}
ul{padding: 0;}
a{color: #dd8d16}
a:hover{color: #c3c3c3; text-decoration: none;}

.sectionhead{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

hr.separetor{
    width: 80px;
    color: #363942;
    border-top: 2px solid #ea9312;
}
hr.separetor2{
    height: 100%;
    color: #363942;
    position: absolute;
    margin-left: 15px;
    margin-top: -21px;
    border-left: 2px solid #e6d5bd;
}
hr.separetor3{
  height: 110px;
  color: #363942;
  position: absolute;
  margin-left: -35px;
  margin-top: 21px;
  border-top: 2px solid #ea9312;
  border-left: 10px solid #ea9312;
}

.Productborder{
  background: #363942;
  margin: 10px;
  border: 2px solid #e6d5bd;
}
.Messageborder{
  background: #363942;
  margin: 6px;
  border: 2px solid #e6d5bd;
}
.MessageborderRead
{
  color: #b6b9c2;
}

.btn-default{
    background: none;
    border: none;
    text-transform: uppercase;
    margin: 50px 0;
    color: rgb(73, 70, 70);
    letter-spacing: 2px;
}

.btn-default:hover{
    background: none;
    color: rgb(32, 29, 25);
}

.btnicon, .brandicon{
    margin-right: 10px;
}

.input {
  font-size: 24px;
  font-size: max(24px, 1.5em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: rgba(100, 100, 100, 0.288);
  border: 2px solid var(--input-border);
  border-bottom: 3px solid #ea9312;
  border-radius: 4px;
}

.inputRegistration {
  font-size: 24px;
  font-size: max(24px, 1.5em);
  font-family: inherit;
  width: 100%;
  background-color: rgba(100, 100, 100, 0.288);
  border: 2px solid var(--input-border);
  border-bottom: 3px solid #ea9312;
  border-radius: 4px;
}


.Menucontent{
    text-align: left;
    padding-top: 100px;
    padding-right: 20%;
}

#about{
    /*padding-top: 100px;*/
    color: #f1e9de;
    padding-bottom: 15px;
    width: auto;
    height: auto;
}

#admintable{
  /*padding-top: 100px;*/
  color: #f1e9de;
  padding-bottom: 15px;
  width: auto;
  height: auto;
}

.registerform{
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  background-color: #f1e9de;
}

.registerform > form{
padding-top: 10px; 
padding-left: 40px; 
padding-bottom: 40px; 
padding-right: 40px;
}

.registerform > form> button {
  background-color: #a56e30; /* Green */
  border: none;
  color: white;
  margin-top: 15px;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }

.input2 {
  background-color: #a18461; /* Green */
  border: none;
  color: white;
  margin-top: 5px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }

#shop{
  /*padding-top: 100px;*/
  color: #f1e9de;
  background: #2b2a2a;
  background-size: 100% auto;
  background-position: center;
  width: 100%;
  height: 100%;
}

#mymap2
{
  display: none;
}

.contactscontent{
  padding-top: 100px;
}

.Cataloguecontent{
  padding-top: 200px;
}

.topnav {
    height: 100px;
    width: 100%; 
    position: fixed;
    z-index: 10;
    top: 0; 
    right: 0;
    padding-left: 10%;
    padding-top: 10px;
}
.navbar-default {
  background-color:rgba(37, 37, 37, 0.952);
  border-color: #3a383800;
}
.navbar-default .navbar-brand {
  color: #d7e2e9;
  display:block;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #e5dbdb;
}
.navbar-default .navbar-text {
  color: #d7e2e9;
}
.navbar-default .navbar-nav > li > a {
  margin-top: 15px;
  color: #f0e9de;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #696060;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color:rgba(112, 102, 102, 0.925);
  padding-left: 10px;
  margin-left: auto;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #d7e2e9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #e5dbdb;
  background-color: #425766;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color:rgba(107, 100, 100, 0.082)
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #e5dbdb;
  background-color: #7a462600;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #e5dbdb;
  background-color:rgba(27, 26, 26, 0.082)
}
.navbar-default .navbar-toggle {
  border-color: #312d2d00;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color:rgba(73, 69, 69, 0.082)
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d7e2e9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #00000000;
}
.navbar-default .navbar-link {
  color: #d7e2e9;
}
.navbar-default .navbar-link:hover {
  color: #e5dbdb;
}